name: Deploy Lambda

on:
  push:
    branches:
      - master

jobs:
  deploy:  
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Java
        uses: actions/setup-java@main
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::622840651405:user/github-actions-lambda

      - name: Build
        run: |
          ls -la
          cd ./weatherToS3 
          mvn clean package 


      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name storeTempInExcel \
            --zip-file fileb://target/weatherToS3.jar
